.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  height: 500px;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.username {
  display: block;
  color: rgb(207, 196, 255);
  font-size: 20px;
  padding-bottom: 4px;
  overflow-wrap: break-word;
  max-width: 100px;
}

.text {
  padding: 10px;
  max-width: 250px;
  margin: 0;
  border: solid #dfdbdb 2px;
  border-radius: 12px;
  background-color: #1f5866;
  color: rgb(207, 196, 255);
  display: inline-block;
  overflow-wrap: break-word;
}
.time {
  font-size: small;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

.input-msg {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #dfdbdb;
  flex-grow: 1;
}

.roomsList {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem;
}

.onlineUsers {
  background-color: transparent;
  height: 80%;
  border: 2px solid #dfdbdb;
  border-radius: 20px;
  padding: 5%;
  overflow: auto;
  box-shadow: 0px 5px 23px 0px rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-height: 80vh;
}

/* buttons: */

.button-rooms {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #5a3f37;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  overflow-wrap: break-word;
}

.newRoomBtn {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #5a3f37;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  align-self: baseline;
  margin-top: 5rem;
}
.btn-message {
  padding: 5px 15px;
  font-size: 16px;
  background-color: #1f5066;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}

.button-logout {
  padding: 5px 50px;
  font-size: 16px;
  background-color: #1f5866;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 100px;
  width: 100%;
}

.button-logout:hover,
.button-rooms:hover,
.btn-message:hover,
.newRoomBtn:hover {
  cursor: pointer;
  background-color: #307277;
}

/* for avatars: */

.login-avatars {
  font-size: 20px;
  background-color: transparent;
}

.avatar {
  margin: 0 10px -10px;

  width: 60px;
  height: 60px;
  background-color: #5a3f37;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.reg-form__avatar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  max-height: 450px;
  overflow: auto;
}

.reg-form__avatar {
  margin: 5px;
  width: 48px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
  padding-top: 2px;
}

.reg-form__avatar:hover {
  cursor: pointer;
  transform: scale(1.2);
}

h4 {
  padding-top: 2rem;
}

/* backgrounds: */
.background-login {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  background: url(https://braidmission.org/wp-content/uploads/2017/02/fog-mountain.jpg)
    no-repeat center/cover;
}

.chat-bg {
  background: #5a3f37; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #1f5866,
    #5a3f37
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #1f5866,
    #5a3f37
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row-chat {
  height: 100vh;
  padding-top: 2rem;
}
h3,
h1,
h5 {
  color: rgb(207, 196, 255);
  overflow-wrap: break-word;
  max-width: 300px;
}

/* Modal window */

.myModal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.closeModal {
  display: none;
}

/* Modal Content/Box */
.myModal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

@media only screen and (max-width: 767px) {
  .onlineUsers > ul {
    display: flex;
    flex-direction: row;
  }
  .onlineUsers {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .row-breakpoint {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: max-content;
  }
  .chat-col-breakpoint {
    padding-top: 2rem;
  }
  .roomsList > button,
  .newRoomBtn {
    background-color: #1f5866;
  }
  .button-logout {
    margin-top: 20px;
  }
}
